<a href="https://colab.research.google.com/github/amandabenjamin/Food_Sales_Predictions/blob/main/Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Amanda Benjamin

Project 1: Sales prediction for food items sold at various stores.

# Project 1, Part 1

*   Goal: Learning how to read in data

In [ ]:
#project 1, part 1

from google.colab import drive #accessing drive (and data) from google colab
drive.mount('/content/drive')

#import pandas libary 
import pandas as pd

#assign data location to variable named 'filename'
filename = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas for Data Science/sales_predictions.csv' 

df = pd.read_csv(filename)#import the data into dataframe (df)
df.head() #take a look at the dataframe

# Project 1, Part 2

*   Learning how to 'clean up' data 
*   Learning how to commit to Git Hub Repo.

In [3]:
#project 1, part 2

df.info() #print information about information about dataframe (df) including the index dtype and columns, non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

NOTE: There is missing data in Item_Weight and Outlet_Size!


*   Columns include int, float, and object data

**1) How many rows and columns?**

In [4]:
count_row = df.shape[0]  # gives number of row count
count_col = df.shape[1]  # gives number of col count

print(f'There are {count_row} rows and {count_col} columns')

There are 8523 rows and 12 columns

**2) What are the datatypes of each variable?**

In [5]:
for i in df:
    print(f'{i} is a/an {df.dtypes[i]}') #print column name and its dtype

Item_Identifier is a/an object
Item_Weight is a/an float64
Item_Fat_Content is a/an object
Item_Visibility is a/an float64
Item_Type is a/an object
Item_MRP is a/an float64
Outlet_Identifier is a/an object
Outlet_Establishment_Year is a/an int64
Outlet_Size is a/an object
Outlet_Location_Type is a/an object
Outlet_Type is a/an object
Item_Outlet_Sales is a/an float64

**3) Are there duplicates? If so, drop any duplicates.**

In [6]:
#If there are duplicates, we can use sum to see how many 
#b/c True boolian adds just like 1
df.duplicated(keep=False).sum() 

if df.duplicated(keep=False).sum() > 0: #if the sum of duplicates is greater than 0
  print('Looks like there are duplicates!') #print
else: #if not 
  print(f'No duplicates here - The sum of all duplicated values equals {df.duplicated(keep=False).sum()}') #print

#we can also check our work by counting the number of non-duplicates 
#which should equal row number
(~df.duplicated()).sum()

if (~df.duplicated()).sum() == count_row: #if the sum of all duplicates equals the number of rows
  print('Yup, still no duplicates when double checking!') #print
else: #if not 
  print(f'This is not good') #print

No duplicates here - The sum of all duplicated values equals 0
Yup, still no duplicates when double checking!

**4)  Identify missing values.**

In [7]:
#df.info will tell you where there are missing data 
#anything under 8523 non-null means that there is missing data 
df.info()
#Item_Weight and Outlet_Size contain missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
# to find the exact location we can also try
IW_missing_loc = df.loc[df['Item_Weight'].isna(),:] # Looks at the rows that contain NaN for Item_Weight
OS_missing_loc = df.loc[df['Outlet_Size'].isna(),:] # Looks at the rows that contain NaN for outlet size

In [ ]:
IW_missing_loc #run to display locations

In [ ]:
OS_missing_loc #run to display locations

**5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).**

I already will rule out droping data - mostly becasue I will be droping more than 5% of my data (too many rows between the two columns of missing data) ... which is not good data science practice

In [11]:
#lets take a look at Item_Weight 

#df['Item_Weight'].value_counts(normalize=True)#I'm not a fan of this output for floats. ...

df.groupby('Item_Weight').sum() #group the df by Item weight values 
#Item_Weight is a float that ranges from 4.555 to 21.350

,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,,,,
4.555,0.137447,446.9176,7987,7046.8272
4.590,0.283160,562.7300,9989,6338.4160
4.610,0.820166,1216.7772,14016,13955.1680
4.615,0.408006,929.8200,8000,16312.1000
4.635,0.705721,635.9970,10009,10922.4490
...,...,...,...,...
21.000,0.329558,1163.5868,12004,7168.6686
21.100,0.907614,2433.4410,34015,31475.0292
21.200,0.203484,872.8954,10010,13818.6790
21.250,1.271683,3961.5074,48059,52780.6292
21.350,0.598883,1487.7578,14002,23740.4306

I think if we fill in the missing data with 0's we will end up not only presenting outliers but most importantly skewing the data - which we dont want to do if we are trying to understand what the data is telling us. 

I prefer to fill in the data using interpolation (estimating the value given known data), and there is a pandas funciton for this!

In [ ]:
 df['Item_Weight'] = df['Item_Weight'].interpolate(method='linear') #data appears to be increasing linerarly (based on output above), not exponetially - ect. 
 #we will use a liner regression equ. to predict and replace missing values in this column.

In [ ]:
#check that it worked ...

if df['Item_Weight'].isna().sum() == 0: #if the number of missing values in Item Weight column equals 0
  print('Missing Data Fixed!') #print
else: #if not 
  print(f'This is not good') #print

In [ ]:
#lets take a look at outlet size now
df['Outlet_Size'].value_counts()#outlet_Size is ordinal ... High, Medium, Small

In [16]:
#Thought: outlet size might be impacted by another column (dependent relationship)
#we can use that relationship to fill in missing outlet size based on that relatioship 

#check to see if there is a relationship using groupby method
#make it into a dataframe in case there are more methods I want for analysis 

#comment out others to see grouping of one tmp option
tmp = df.groupby('Item_Outlet_Sales')[['Outlet_Size']].sum() #group outlet size by Item Outlet Sales --> seems to be a pattern
#tmp = df.groupby('Outlet_Type')[['Outlet_Size']].sum() #group outlet size by Outlet Type --> does not appear to be relationship
#tmp = df.groupby('Outlet_Location_Type')[['Outlet_Size']].sum() #group outlet size by Outlet location type --> does not appear to be relationship
tmp

                  Outlet_Size
Item_Outlet_Sales
33.2900                     0
33.9558                 Small
34.6216                 Small
35.2874                     0
36.6190                 Small
...                       ...
10306.5840             Medium
10993.6896             Medium
11445.1020             Medium
12117.5600             Medium
13086.9648             Medium

[3493 rows x 1 columns]

In [ ]:
df_IOS_ordered = df.sort_values(by='Item_Outlet_Sales', ascending=True)  #sort the data frame by item outlet sales (low to high)

save = df_IOS_ordered.Outlet_Size.fillna(method='bfill') #with oulet size now sorted by item outlet sales, 
#use back fill to fill in missing data (preserving relationship we found earlier)

save #check it worked
df['Outlet_Size'] = save #replace old outlet size column with the new one we just filled in

In [ ]:
#check to see the order is not changed
df['Outlet_Size'] #order is still preserved!

In [ ]:
#check that it worked 
if df['Outlet_Size'].isna().sum() == 0: #if the number of missing outlet size values equals 0
  print('Missing Data Fixed!') #print
else: #if not
  print(f'This is not good') #print

**6) Confirm that there are no missing values after addressing them.**

In [ ]:
#done above
#but we can also check with
df.info() #prints out non-null count (it now is the same value, for all columns, as the number of rows)

**7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)**

In [ ]:
df.Item_Identifier.value_counts() #seems fine

In [ ]:
df.Item_Fat_Content.value_counts() #inconsistant

In [ ]:
df.Item_Type.value_counts()#seems fine

In [ ]:
df.Outlet_Identifier.value_counts()#seems fine

In [ ]:
df.Outlet_Location_Type.value_counts()#seems fine

In [ ]:
df.Outlet_Type.value_counts()#seems fine

In [ ]:
#use the replace to fix this 
df.Item_Fat_Content = df.Item_Fat_Content.replace('LF', 'Low Fat') #replace any instance of LF with Low Fat
df.Item_Fat_Content = df.Item_Fat_Content.replace('reg', 'Regular') #replace any instance of reg with Regular
df.Item_Fat_Content = df.Item_Fat_Content.replace('low fat', 'Low Fat') #replace any instance of low fat with Low Fat

df.Item_Fat_Content.value_counts() #display the groups within Item Fat Content (should be 2 now )

**8) For any numerical columns, obtain the summary statistics of each (min, max, mean)**

In [17]:
df.describe() #method prints out summary statistics for numerical columns

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800